// @import "stars.png";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$fontFamily: "museo-slab";
$fontStandard: "Heiti SC";
$colorNavy: #0000aa;
$breakpointMobile: 900px;
$breakpointWide: 1350px;
$colorInvite: #617189;

body {
  background-image: url("stars-bottom.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: fixed;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  font-family: "Heiti SC";
  padding-bottom: 3rem;
}
#main {
  background-image: url("stars.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  padding: 10rem 2rem 2rem;
  display: flex;
  flex: 1;
}
.grid {
  flex: 1;
  display: grid;
  // grid-template-columns: repeat(2, max-content);
  // grid-template-rows: repeat(2, max-content);
  grid-auto-rows: min-content;
  @media (max-device-width: $breakpointMobile), (max-width: $breakpointMobile) {
    display: block;
  }
  .invitation {
    grid-column: 1;
  }
  .directions {
    grid-column: 2;
    grid-row: 1;
  }
}
.registry {
  text-align: left;
  font-family: $fontStandard;
  padding-left: 0.5rem;
  margin-top: 5rem;
  a {
    color: $colorInvite;
  }
}
.directions {
  display: grid;
  grid-auto-columns: min-content;
  // grid-template-columns: repeat(3, 33%);
  // grid-template-rows: minmax(max-content, max-content);
  font-weight: 100;
  background-color: transparentize(white, 0.25);
  margin: auto;
  @media (max-device-width: $breakpointWide), (max-width: $breakpointWide) {
    display: block;
    margin-top: 2rem;
    max-width: 100%;
    margin-left: 0.5rem;
  }
  h3 {
    margin: 0.125rem 0 1rem 0;
    color: $colorInvite;
    font-weight: 700;
    font-size: 18pt;
    font-family: $fontFamily;
  }
  h4 {
    color: $colorInvite;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
  }
  h5 {
    margin: 0;
  }
  &-arizona {
    grid-column: 1;
  }
  &-slc {
    grid-column: 2;
  }
  &-soutah {
    grid-column: 3;
  }
  & > div {
    margin: 0.5rem;
    padding: 0.5rem;
    color: black;
    min-width: 15rem;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    @media (max-device-width: $breakpointWide), (max-width: $breakpointWide) {
      margin: 0;
      display: block;
      margin-bottom: 2rem;
    }
  }
  &-content {
    &-address {
      height: 6rem;
      line-height: 125%;
    }
  }
  ul {
    margin: 0;
  }
}

.invitation {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: $colorInvite;
  &-content {
    margin: 3rem 0 0;
  }
  p {
    font-size: 14pt;
    margin: 0.5rem 0 0.5rem 0.5rem;
  }
  img {
    // width: 100%;
    // height: 100%;
    // max-width: 800px;
    @media (max-device-width: $breakpointMobile),
      (max-width: $breakpointMobile) {
      // width: 100%;
    }
  }
  .gift-icon {
    height: 1rem;
    margin-right: 0.5rem;
    color: $colorInvite;
  }
}

.signup {
  margin: 5rem 0;
  label {
    margin-bottom: 0.5rem;
    display: block;
  }
  input[type="email"] {
    min-width: 15rem;
  }
  input[type="submit"] {
    margin-top: 0.5rem;
  }
}
